p{
    font-size: 30px;
}
#main-form{
    margin-top: 20px;
}
h1.text-center{
    margin-top: 20px;
}
#boton-submit{
    border-radius: 5px;
    margin-left: 330px;
   
}
h2.text-center{
    margin-top: 30px;
}
h1.navbar-text{
    font-weight: bold;
    
}
#barcode{
    margin-top: 20px;
}
@media(max-width: 660px){
    nav.navbar{
        width: 150%;
    }
}
@media(max-width: 660px){
    #boton-submit{
        margin-left: 0px;
    }
}